/* UNIVERSAL */
* {
    box-sizing: border-box;
}

/*  */
/* TAG */
/*  */

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    max-height: 99%;
}

h1 {
    flex-grow: 0;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
}

/*  */
/* ID */
/*  */

#guide-ctn {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

#guide-list {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    /* row-gap: 15px; */
    /* column-gap: 25px; */
}

#guide-details {
    width: 40%;
    max-height:100%;
    
}

#habitats-ctn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1%;
    row-gap: 3%;
    padding: 2%;
}

/*  */
/* CLASS */
/*  */

.monster-listing {
    width: 80%;
    height: 80%;
    min-width: 100px;
    min-height: 100px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.f {
    display: flex;
}

.c {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.end {
    justify-content: flex-end;
}

.s-b {
    justify-content: space-between;
}