<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Large Monsters Field Guide</title>
</head>
<body>
    <h1>Large Monster Field Guide</h1>
    <div id="guide-ctn" class="f jcse">
        <div id="guide-list">
            {% for monster in data %}
            <div>{{monster.name}}</div>
            {% endfor %}
        <div id="guide-details">
            <p>Monster</p>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>