<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Large Monsters Field Guide</title>
</head>
<body class="f c">
    <h1>Large Monster Field Guide</h1>
    
    <div id="guide-ctn" class="f">
        <div id="guide-list">
            {% for monster in data %}
            <div class="monster-listing" data-monsterId={{monster.id}}>
                <a href="monsters/{{ monster.id }}">{{monster.name}}</a>
            </div>
            {% endfor %}
        </div>

        <div id="guide-details">
            <div class="f center">Detailed Info</div>
            <div class="f s-b">
                <div id="book-title">Monster Ecology</div>
                <div>
                    <i class="fa-solid fa-square-caret-left pg-btn" data-page="Prev"></i>
                    <i class="fa-regular fa-circle pg-btn" data-page="1"></i>
                    <i class="fa-regular fa-circle pg-btn" data-page="2"></i>
                    <i class="fa-regular fa-circle pg-btn" data-page="3"></i>
                    <i class="fa-regular fa-circle pg-btn" data-page="4"></i>
                    <i class="fa-regular fa-circle pg-btn" data-page="5"></i>
                    <i class="fa-solid fa-square-caret-right pg-btn" data-page="Next"></i>
                </div>
            </div>

            <div id="page-content"></div>

        </div>
    </div>
    <script src="/static/script.js"></script>
    <script src="https://kit.fontawesome.com/867dfd702e.js" crossorigin="anonymous"></script>
</body>
</html>