<div class="f c center">
    <h2>{{name}}</h2>
</div>

<div>
    <img src="" alt="">
    <button id="page-2-switch-btn" data-showa="True">
        Switch
    </button>
</div>

<div id="page2-switch-a" class="">
    <h4> Helpful Hints </h4>
    
    <div>
        <p>{{helpfulHints}}</p>
    </div>
</div>

<div id="page2-switch-b" class="hidden">
    <h4>Hide</h4>
    <div id="hide-grid">
        <div class="hide-listing">
            <div></div>
            <div><img src="/static/images/blunt-damage-icon-monster-hunter-wilds-wiki-guide-small.webp" alt="Blunt damage" srcset=""></div>
            <div><img src="/static/images/cut-damage-icon-monster-hunter-wilds-wiki-guide-small.webp" alt="Severing damage" srcset=""></div>
            <div><img src="/static/images/ammo-damage-icon-monster-hunter-wilds-wiki-guide-small.webp" alt="Ammo damage" srcset=""></div>
            <div><img src="/static/images/fire_icon_mhwilds_wiki_guide_25px.webp.png" alt="Fire damage" srcset=""></div>
            <div><img src="/static/images/water_icon_mhwilds_wiki_guide_25px.webp.png" alt="Water damage" srcset=""></div>
            <div><img src="/static/images/thunder_icon_mhwilds_wiki_guide_25px.webp.png" alt="Thunder damage" srcset=""></div>
            <div><img src="/static/images/ice_icon_mhwilds_wiki_guide_25px.webp.png" alt="Ice damage" srcset=""></div>
            <div><img src="/static/images/dragon_icon_mhwilds_wiki_guide_25px.webp.png" alt="Dragon damage" srcset=""></div>
        </div>
        {% for part in hideParts %}
        <div class="hide-listing">
            <div>
                {{part.name}} 
            </div>
            <div>
                {{part.blunt}}
            </div>
            <div>
                {{part.sharp}}
            </div>
            <div>
                {{part.ranged}}
            </div>
            <div>
                {{part.fire}}
            </div>
            <div>
                {{part.water}}
            </div>
            <div>
                {{part.thunder}}
            </div>
            <div>
                {{part.ice}}
            </div>
            <div>
                {{part.dragon}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>